<!-- we will change the langingpage and user will be redirected base on role-->

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>index</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 50px;
    }

    .btn {
      display: block;
      width: 200px;
      padding: 10px;
      margin: 10px auto;
      font-size: 18px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    .btn:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>

<h1>chose your role :</h1>
<!--
<button class="btn" onclick="window.location.href='/sturdent'">Student</button>
<button class="btn" onclick="window.location.href='/corrector'">Corrector</button>
<button class="btn" onclick="window.location.href='/organizer'">Organisator</button>
<button class="btn" onclick="window.location.href='/admin'">Admin</button>
-->
<div >
  <div class="row m-3">
    <a href="/oauth2/authorization/github"><button class="btn btn-dark">Login using GitHub</button></a>
  </div>
</div>

</body>
</html>
