<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Test erstellen</title>
</head>
<body>

<h2>Neuen Test erstellen</h2>

<form method="post" th:action="@{/erstellen}" th:object="${testForm}">
    <div>
        <label for="testname">Testname:</label>
        <input id="testname" type="text" th:field="*{testName}" required>
    </div>
    <div>
        <label for="startzeitpunkt">Startzeitpunkt:</label>
        <input id="startzeitpunkt" type="datetime-local" th:field="*{startzeitpunkt}" required>
    </div>
    <div>
        <label for="endzeitpunkt">Endzeitpunkt:</label>
        <input id="endzeitpunkt" type="datetime-local" th:field="*{endzeitpunkt}" required>
    </div>
    <div>
        <label for="ergebnisVeröffentlichungszeitpunkt">Ergebnis Veröffentlichungszeitpunkt:</label>
        <input id="ergebnisVeröffentlichungszeitpunkt" type="datetime-local" th:field="*{ergebnisVeröffentlichungszeitpunkt}" required>
    </div>
    <div>
        <label for="maximalpunktzahl">Maximalpunktzahl:</label>
        <input id="maximalpunktzahl" type="number" th:field="*{maximalpunktzahl}" required>
    </div>
    <div>
        <label for="fragestellung">Fragestellung:</label>
        <input id="fragestellung" type="text" th:field="*{fragestellung}" required>
    </div>

    <button type="submit">Test erstellen</button>
</form>

</body>
</html>
